In [1]:
# Import libraries
import pandas as pd

In [2]:
# Read raw novel data
df = pd.read_csv('novels_2022-02.csv')
df.head()

,id,activity_all_time_rank,activity_month_rank,activity_week_rank,assoc_names,authors,chapter_latest_translated,chapters_original_current,complete_original,complete_translated,...,rating,rating_votes,reading_list_all_time_rank,reading_list_month_rank,recommendation_list_ids,recommended_series_ids,related_series_ids,release_freq,start_year,tags
0,179,26.0,273.0,158.0,"['CSG', 'Hun Dun Jian Shen', 'Hỗn Độn Kiếm Thầ...","['xin xing xiao yao', '心星逍遥']",c3147,3247 chapters,0.0,0.0,...,3.5,1229.0,130.0,203.0,"[45478, 44961, 41774, 38109, 37163]",[14],NaN,0.9,2010.0,"['adapted to manhua', 'arranged marriage', 'ar..."
1,180,363.0,600.0,575.0,"['DD', 'Ma Thiên Ký', 'Mo Tian Ji', '魔天记']","['wang yu', '忘语']",c857,1572 chapters,1.0,0.0,...,4.2,679.0,338.0,633.0,"[37524, 36429, 34551, 32709, 31905]",[2765],"[2765, 4745]",1.0,2013.0,"['arranged marriage', 'artifact crafting', 'ar..."
2,349,294.0,1198.0,717.0,"['Goblin no Oukoku', 'ゴブリンの王国']",['春野隠者'],v4c275 part2,371 chapters,1.0,0.0,...,3.8,506.0,177.0,1428.0,"[44407, 39959, 36585, 34982, 31964]",[246],NaN,5.3,2012,"['accelerated growth', 'aristocracy', 'army bu..."
3,439,102.0,181.0,559.0,"['Magicraft Meister', 'マギクラフト・マイスター']","['aki gitsune', '秋ぎつね']",c515,14 volumes,1.0,0.0,...,3.6,483.0,102.0,539.0,"[34809, 34153, 33408, 33311, 29589]",[552],NaN,3.7,2013.0,"['adapted to drama cd', 'adapted to manga', 'a..."
4,513,44.0,664.0,378.0,"['Cô Vợ Tổng Giám Đốc Xinh Đẹp Của Tôi', 'MWIA...","['cabbage flatbread', '霉干菜烧饼']",c1485,1664 chapters,1.0,0.0,...,4.1,1339.0,156.0,298.0,"[43611, 41774, 41135, 39246, 38321]",[5433],NaN,1.3,2011,"['an*l', 'abandoned children', 'aliens', 'arro..."

# Create Genre Table

In [3]:
# Create a Series filled with cleaned Genres strings
df_genres = df['genres'].apply(lambda x:x.replace('[','').replace(']','').replace("'",''))
df_genres.head()

0    action, adventure, harem, martial arts, mature...
1    action, adventure, harem, martial arts, myster...
2     action, adventure, drama, fantasy, harem, seinen
3    adventure, drama, fantasy, mecha, romance, sci...
4    action, drama, ecchi, harem, martial arts, mat...
Name: genres, dtype: object

In [4]:
df_genres_list = pd.DataFrame(columns=['genre'])        # Create empty dataframe

# Iterate through every row in df_genres series, split every string into arrays
# For every string in the array, check if string already exist in df_genres_list
# If not, then insert that string
for rows in df_genres:
    arr_temp = rows.split(',')
    # print(arr_temp)
    for arr in arr_temp:
        if not (df_genres_list['genre'].eq(arr.strip())).any():
            dict_temp = {'genre':arr.strip()}
            df_genres_list = pd.concat([df_genres_list,pd.DataFrame(dict_temp,index=[0])],ignore_index=True)

df_genres_list = df_genres_list.sort_values(by=['genre'],ascending=True).reset_index(drop=True)             # sort and reset index

In [5]:
df_genres_list.head()

       genre
0     action
1      adult
2  adventure
3     comedy
4      drama

In [61]:
df_genres_list.to_csv('genres.csv')         # export to csv

# Create Tags Label

In [6]:
# Create a Series filled with cleaned Tags strings
df_tags = df['tags'].apply(lambda x:x.replace('[','').replace(']','').replace("'",'').replace('"',''))
df_tags.head()

0    adapted to manhua, arranged marriage, arrogant...
1    arranged marriage, artifact crafting, artifact...
2    accelerated growth, aristocracy, army building...
3    adapted to drama cd, adapted to manga, artifac...
4    an*l, abandoned children, aliens, arrogant cha...
Name: tags, dtype: object

In [12]:
df_tags_list = pd.DataFrame(columns=['tags'])               # Create empty dataframe

# Iterate through every row in df_tags series, split every string into arrays
# For every string in the array, check if string already exist in df_tags_list
# If not, then insert that string
for rows in df_tags:
    arr_temp = rows.split(',')
    # print(arr_temp)
    for arr in arr_temp:
        if not (df_tags_list['tags'].eq(arr.strip())).any():
            dict_temp = {'tags':arr.strip()}
            df_tags_list = pd.concat([df_tags_list,pd.DataFrame(dict_temp,index=[0])],ignore_index=True)

df_tags_list = df_tags_list.sort_values(by=['tags'],ascending=True).reset_index(drop=True)      # Sort and reset index
df_tags_list = df_tags_list.drop(axis='index',labels=[0])                                       # Drop the first index (null value)

In [13]:
df_tags_list.head()

                 tags
1  abandoned children
2       ability steal
3      absent parents
4  abusive characters
5             academy

In [56]:
df_tags_list.to_csv('tags.csv')

# Create Authors table

In [14]:
# Create a Series filled with cleaned Authors strings
df_authors = df['authors'].apply(lambda x:x.replace('[','').replace(']','').replace("'",' ').replace('"',' '))
df_authors.head()

0      xin xing xiao yao ,  心星逍遥
1                  wang yu ,  忘语
2                           春野隠者
3            aki gitsune ,  秋ぎつね
4     cabbage flatbread ,  霉干菜烧饼
Name: authors, dtype: object

In [15]:
df_authors_list = pd.DataFrame(columns=['author'])                  # Create empty dataframe

# Iterate through every row in df_authors series, split every string into arrays
# Select the last array element, check if string already exist in df_tags_list
# If not, then insert that string
for rows in df_authors:
    str_temp = rows.split(',')[-1].strip()
    # print(str_temp)
    if not (df_authors_list['author'].eq(str_temp)).any():
        dict_temp = {'author':str_temp}
        df_authors_list = pd.concat([df_authors_list,pd.DataFrame(dict_temp,index=[0])],ignore_index=True)
df_authors_list = df_authors_list.sort_values(by=['author'],ascending=True).reset_index(drop=True)
df_authors_list = df_authors_list.drop(axis='index',labels=0)

In [16]:
df_authors_list.head()

   author
1     098
2   11월의봄
3     135
4  210210
5   24k纯二

In [76]:
df_authors_list.to_csv('authors.csv')